!!!html5
%html(lang="en" class="no-js")
  %head
    %meta( http-equiv="X-UA-Compatible" content="IE=edge" )
    %meta( charset="utf-8" )
    %meta( name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" )
    %title= t(:global_title)
    %link{ :rel => "stylesheet", :href => asset_path(:css, "site.css") }

  %body{:class => [$custom_view_classes]}
    = partial "header"
    = yield
    = partial "footer"

    %script{ :src => asset_path(:js, "site.js") }

    = yield_content :scripts
